server:
  port: 8080
  tomcat:
    threads:
      max: 2
spring:
  data:
    mongodb:
#      uri: mongodb://mongo-0.mongo/MenuApi
      uri: mongodb+srv://${MONGODB_USER}:${MONGODB_PASSWORD}@${MONGODB_HOST}/${MONGODB_DB_NAME}?${MONGODB_OPTIONS}
management:
  endpoint:
    health:
      probes:
        enabled: true