server:
  port: 8080
  tomcat:
    threads:
      max: 2
spring:
  data:
    mongodb:
      uri: mongodb://localhost:27017/MenuApi
management:
  endpoints:
    web:
      exposure:
        include: '*'
  endpoint:
    health:
      show-details: always
      probes:
        enabled: true
