apiVersion: apps/v1
kind: Deployment
metadata:
  name: menu-api-app
  labels:
    app: menu-api
spec:
  selector:
    matchLabels:
      app: menu-api
      tier: api
  template:
    metadata:
      labels:
        app: menu-api
        tier: api
    spec:
      containers:
      - name: menu-api-app
        image: gcr.io/all-projects-292200/menu-api:0.0.16-SNAPSHOT
        imagePullPolicy: Always
        ports:
        - containerPort: 8080
        resources:
          requests:
            cpu: "0.02"
            memory: "150Mi"
          limits:
            cpu: "0.6"
            memory: "225Mi"
        env:
        - name: SPRING_PROFILES_ACTIVE
          value: "prod"
        - name: BPL_JVM_HEAD_ROOM
          value: "10"
        - name: BPL_JVM_LOADED_CLASS_COUNT
          value: "35"
        - name: BPL_JVM_THREAD_COUNT
          value: "10"
        - name: JAVA_OPTS
          value: >-
                -XX:ReservedCodeCacheSize=40M
                -XX:MaxMetaspaceSize=50M
                -Xlog:gc
                -Xms45m
                -Xmx50m
                -Xss256k
                -XX:MaxRAM=170M
                -XX:MaxDirectMemorySize=10M
        # From Secret
        - name: MONGODB_USER
          valueFrom:
            secretKeyRef:
              name: mongodb-atlas-secret
              key: MONGODB_USER
        - name: MONGODB_PASSWORD
          valueFrom:
            secretKeyRef:
              name: mongodb-atlas-secret
              key: MONGODB_PASSWORD
        # From ConfigMap
        - name: MONGODB_HOST
          valueFrom:
            configMapKeyRef:
              name: mongodb-atlas-config
              key: MONGODB_HOST
        - name: MONGODB_OPTIONS
          valueFrom:
            configMapKeyRef:
              name: mongodb-atlas-config
              key: MONGODB_OPTIONS
        - name: MONGODB_DB_NAME
          valueFrom:
            configMapKeyRef:
              name: mongodb-atlas-config
              key: MENUAPI_DB_NAME
        livenessProbe:
          httpGet:
            port: 8080
            path: /actuator/health/liveness
          initialDelaySeconds: 40
          periodSeconds: 10
          timeoutSeconds: 5
        readinessProbe:
          httpGet:
            port: 8080
            path: /actuator/health/readiness
          initialDelaySeconds: 60
          periodSeconds: 10
          timeoutSeconds: 5